USE [master]
GO
/****** Object:  Database [D:\WORK\LESSONS\ASP.NET BASE V2\006_DATABINDING\DATABINDINGSAMPLES\DATABINDINGSAMPLES\APP_DATA\DATABASE.MDF]    Script Date: 01/07/2012 13:21:46 ******/
CREATE DATABASE [D:\WORK\LESSONS\ASP.NET BASE V2\006_DATABINDING\DATABINDINGSAMPLES\DATABINDINGSAMPLES\APP_DATA\DATABASE.MDF] ON  PRIMARY 
( NAME = N'Database', FILENAME = N'D:\Work\Lessons\ASP.NET Base v2\006_DataBinding\DataBindingSamples\DataBindingSamples\App_Data\Database.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'D:\Work\Lessons\ASP.NET Base v2\006_DataBinding\DataBindingSamples\DataBindingSamples\App_Data\Database_log.ldf' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\WORK\LESSONS\ASP.NET BASE V2\006_DATABINDING\DATABINDINGSAMPLES\DATABINDINGSAMPLES\APP_DATA\DATABASE.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\WORK\LESSONS\ASP.NET BASE V2\006_DATABINDING\DATABINDINGSAMPLES\DATABINDINGSAMPLES\APP_DATA\DATABASE.MDF]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01/07/2012 13:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
